@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  /* container */
  .page-container {
    @apply w-11/12 m-auto;
  }

  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-[#ede0d4]/20 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
  }

  /* Width and height for the scrollbar track and thumb */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Styles for the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
  }

  /* Styles for the scrollbar track (the background) */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
    border-radius: 5px; /* Rounded corners */
  }

  /* Optional: Hover styles for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  /* Optional: Active styles for the thumb (when clicked) */
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.8);
  }
}
